<mat-card>
    <mat-card-title class="text-center">Cadastro do Produto</mat-card-title>
    <mat-card-content>
        <form [formGroup]="produtoForm">
            <div class="row">
                <app-input name="Produto" class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Produto" formControlName="idProduto" readonly>
                    </mat-form-field>
                </app-input>
                <app-input name="Código do ERP" class="col-4">
                    <mat-form-field>
                        <input matInput placeholder="Código Externo" formControlName="idProdutoExterno" readonly>
                    </mat-form-field>
                </app-input>
                <app-input name="Descrição" class="col-8">
                    <mat-form-field>
                        <input matInput placeholder="Descrição" formControlName="descricao">
                    </mat-form-field>
                </app-input>
                <app-input name="Qtd. Disponível" class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Qtd. Dsiponível" formControlName="qtdDisponivel">
                    </mat-form-field>
                </app-input>
                <app-input name="Valor" class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Valor" formControlName="valorUn">
                    </mat-form-field>
                </app-input>


                <app-input name="Categoria" class="col-6">
                    <mat-form-field>
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="idCategoria">
                            <mat-option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
                                {{ categoria.descricao }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </app-input>
                
                <app-input name="Tipo Unidade Medida" class="col-6">
                    <mat-form-field>
                        <mat-label>Tipo Unidade Medida</mat-label>
                        <mat-select formControlName="idTipoUnMedida">
                            <mat-option *ngFor="let tipoUnMedida of tiposUnMedidas" [value]="tipoUnMedida.idTipoUnMedida">
                                {{ tipoUnMedida.descricao }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </app-input>

                <app-input name="Status" class="col-12">
                    <mat-checkbox formControlName="status">Produto Ativa</mat-checkbox>
                </app-input>
                <div>
                    <img [src]="'data:image/jpeg;base64,' +imagemURL" height="300" width="300" alt="Imagem"
                        *ngIf="imagemURL">
                    <label for="file-upload" class="upload-button">
                        Selecionar Imagem
                    </label>
                    <input id="file-upload" type="file" class="file-input" formControlName="img"
                        (change)="onFileSelected($event)">
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-stroked-button type="button" class="btn" (click)="back()">Cancelar</button>
        <button mat-stroked-button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
    </mat-card-actions>
</mat-card>