<mat-card>
    <mat-card-title class="text-center">Cadastro do Produto</mat-card-title>
    <mat-card-content>
        <form [formGroup]="produtoForm">
            <div class="row">
                <app-input name="Produto" class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Produto" formControlName="idProduto" readonly>
                    </mat-form-field>
                </app-input>
                <app-input name="Código do ERP" class="col-4">
                    <mat-form-field>
                        <input matInput placeholder="Código Externo" formControlName="idProdutoExterno"
                            [readonly]="produtoForm.get('idProduto').value !== null">
                    </mat-form-field>
                </app-input>
                <app-input name="Descrição" class="col-8">
                    <mat-form-field>
                        <input matInput placeholder="Descrição" formControlName="descricao">
                    </mat-form-field>
                </app-input>
                <app-input name="Qtd. Disponível" class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Qtd. Dsiponível" formControlName="qtdDisponivel">
                    </mat-form-field>
                </app-input>
                <app-input name="Valor" class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Valor" formControlName="valorUn">
                    </mat-form-field>
                </app-input>
                <app-input name="Categoria" class="col-6">
                    <mat-form-field>
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="idCategoria">
                            <mat-option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
                                {{ categoria.descricao }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </app-input>

                <app-input name="Tipo Unidade Medida" class="col-6">
                    <mat-form-field>
                        <mat-label>Tipo Unidade Medida</mat-label>
                        <mat-select formControlName="idTipoUnMedida">
                            <mat-option *ngFor="let tipoUnMedida of tiposUnMedidas"
                                [value]="tipoUnMedida.idTipoUnMedida">
                                {{ tipoUnMedida.descricao }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </app-input>

                <app-input name="Status" class="col-12">
                    <mat-checkbox formControlName="status">Produto Ativo</mat-checkbox>
                </app-input>
                <div class="col-6">
                    <img [src]="selectedFileBase64" height="300" width="300" alt="Imagem" *ngIf="selectedFileBase64">

                    <label for="file-upload" class="upload-button">
                        Selecionar Imagem
                    </label>
                    <input id="file-upload" type="file" class="file-input" formControlName="img"
                        [files]="[selectedFile]" (change)="onFileSelected($event)">
                </div>

                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Tags do Produto</mat-label>
                        <input matInput placeholder="Ex: Vencido" value="">                        
                    </mat-form-field>                    
                    <button mat-button>
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <div class="scrollable-table">
                        <mat-table [dataSource]="tags">
                            <ng-container matColumnDef="idTag">
                                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                                <mat-cell *matCellDef="let tag"> {{tag.idTag}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="dsTag">
                                <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>
                                <mat-cell *matCellDef="let tag"> {{tag.dsTag}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="delete">
                                <mat-header-cell *matHeaderCellDef>Deletar</mat-header-cell>
                                <mat-cell *matCellDef="let tag" class="text-center">
                                    <div>
                                        <button mat-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="editar">
                                <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
                                <mat-cell *matCellDef="let tag" class="text-center">
                                    <div>
                                        <button mat-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                </div>

            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-stroked-button type="button" class="btn" (click)="back()">Cancelar</button>
        <button mat-stroked-button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
        <button mat-fab class="add-product-button" (click)="novo()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>