<mat-card>
    <mat-card-title class="text-center">Lista de Clientes</mat-card-title>
    <mat-card-content>
        <mat-table [dataSource]="empresas">
            <ng-container matColumnDef="empresa">
                <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idEmpresa}} - {{element.descricao}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cnpj">
                <mat-header-cell *matHeaderCellDef> CNPJ </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cnpj}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="opcoes">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button type="button" (click)="edit(element)" matTooltip="Editar" matTooltipPosition="below">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <app-empty-table *ngIf="showEmpty"></app-empty-table>
    </mat-card-content>
</mat-card>
