<mat-card>
    <mat-card-title class="text-center">Lista de Pedidos</mat-card-title>
    <mat-card-content>
        <mat-table [dataSource]="pedidos">
            <ng-container matColumnDef="idPedido">
                <mat-header-cell *matHeaderCellDef> Pedido </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idPedido}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valTotal">
                <mat-header-cell *matHeaderCellDef> Valor Total </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.valTotal | currency:'BRL':'symbol':'1.2-2' }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dataPedido">
                <mat-header-cell *matHeaderCellDef> Data do Pedido </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.dataPedido | date:'dd/MM/yyyy HH:mm' }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.statusPedido }} </mat-cell>
            </ng-container>       

            <ng-container matColumnDef="acoes">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element" class="text-center">
                    <div>
                        <button mat-button (click)="edit(element.idPedido)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </div>
                </mat-cell>
              </ng-container> 

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <app-empty-table *ngIf="showEmpty"></app-empty-table>
    </mat-card-content>
</mat-card>
