<mat-card>
    <mat-card-title class="text-center">Lista de Produtos</mat-card-title>
    <mat-card-content>
        <mat-table [dataSource]="produtos">
            <ng-container matColumnDef="idProduto">
                <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.idProduto }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="descricao">
                <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.descricao }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="valorUn">
                <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{
                        element.valorUn | currency : "BRL" : "symbol" : "1.2-2"
                    }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="qtdDisponivel">
                <mat-header-cell *matHeaderCellDef>
                    Quantidade Disponivel
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.qtdDisponivel }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="idProdutoExterno">
                <mat-header-cell *matHeaderCellDef>
                    Código ERP
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.idProdutoExterno }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="acoes">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button
                        mat-icon-button
                        type="button"
                        (click)="edit(element)"
                        matTooltip="Editar"
                        matTooltipPosition="below"
                    >
                        <mat-icon>visibility</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row
                *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <app-empty-table *ngIf="showEmpty"></app-empty-table>
    </mat-card-content>
    <button mat-fab color="primary" class="float-button" (click)="add()">
        <mat-icon>add</mat-icon>
    </button>
</mat-card>
