<mat-toolbar color="primary">
    <span class="logo"><strong class="logo-ciss">PROJETO</strong>Template</span>
</mat-toolbar>
<mat-drawer-container class="background-container">
    <mat-card class="card-login float-right">
        <form (ngSubmit)="logOn()" [formGroup]="loginForm" class="mt-3">
            <div class="div-img-login">
                <img class="img-login" src="../../../assets/img/icon-login.png" alt="login">
            </div>
            <app-input name="Usuário">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Informe o usuário" formControlName="email" autocomplete="off" required>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>
            </app-input>

            <app-input name="Senha">
                <mat-form-field appearance="outline" class="mt-4">
                    <input matInput placeholder="Informe a senha" formControlName="senha" type="password" required>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </app-input>
            <button mat-flat-button color="primary" type="submit" class="btn w-100 font-weight-bold">Entrar</button>
        </form>
    </mat-card>
    <app-app-info class="fixed-bottom-info" textClass="text-white" [showLogo]="false"></app-app-info>
</mat-drawer-container>
